body {
	background-image: url('../images/fondo.jpg');
}

.portada {
	background-color: white;
	height: auto;
	margin: 0px;
}

.navbar {
	border-radius: 0px;
	background: #1A0E02;
}

.container {
	min-height: 300px;
	background-image: url('../images/nota2.jpg');
	background-size: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 8%;
}

.top {
	padding-top: 0;
}

.seccion-chica {
	width: 50%;
	background-size: 190%;
}

h2 {
	text-align: center;
}

p, h2, h3, h4, li, .control-label, .negrita {
	color:black;
}

iframe {
	width:90%;
	height:130%;
	margin-bottom: 5%;
}

.form-control {
	width: 90%;
	background-color: #1A0E02;;
	color: white;
	margin-left: 5%;
}

.fila {
	border-top: double;
	border-bottom: double;
}

.lista {
	border-bottom: ridge;
	padding-top: 10px;
}

.seccion-media {
	width: 70%;
}

.color {
	background-color: #1A0E02;
	color: #777;
}

.bot {
	float: right;
	background-color: #1A0E02;
	color: #777;
	margin-top: 5%;
	margin-bottom: 5%;
}

.centro {
	margin-right: 50%;
	margin-bottom: 3%;
}

.bot:hover,
.bot:focus {
  color: #fff;
  background-color: #1A0E02;
 }

.carrusel {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10%;
}

.item {
	margin-left: 20%;
	margin-right: 20%;
}

.carousel-indicators .active {
	background-color: #666666;
}

.carousel-indicators li {
	border-color: #666666;
}

.indicador {
	font-size: 50px;
	margin-top: 70%;
}

.lupa {
	background-image: url('../images/lupa.jpg');
	background-size: 105%;
	width: 30px;
	height: 30px;
	margin-top: 10px;
	border-radius: 50%;
}

footer {
	text-align: center;
	background: #1A0E02;
	margin-top: 15px;
	height: 5%;
}
